<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
<div class="pull-right">
        <!-- Place this tag where you want the button to render. -->
<!-- Place this tag right after the last button or just before your close body tag. -->
</div>
<script async defer id="github-bjs" src="https://buttons.github.io/buttons.js"></script>

        {{ content }}
      </div>
    </div>

    {% include footer.html %}

  </body>

</html>
