<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
<div class="pull-right">
        <!-- Place this tag where you want the button to render. -->
<a class="github-button" href="https://github.com/SeldonIO/seldon-server" data-icon="octicon-star" data-style="mega" data-count-href="/SeldonIO/seldon-server/stargazers" data-count-api="/repos/SeldonIO/seldon-server#stargazers_count" data-count-aria-label="# stargazers on GitHub" aria-label="Star SeldonIO/seldon-server on GitHub">Star</a>
<!-- Place this tag where you want the button to render. -->
<a class="github-button" href="https://github.com/SeldonIO/seldon-server/fork" data-icon="octicon-git-branch" data-style="mega" data-count-href="/SeldonIO/seldon-server/network" data-count-api="/repos/SeldonIO/seldon-server#forks_count" data-count-aria-label="# forks on GitHub" aria-label="Fork SeldonIO/seldon-server on GitHub">Fork</a>
<!-- Place this tag right after the last button or just before your close body tag. -->
</div>
<script async defer id="github-bjs" src="https://buttons.github.io/buttons.js"></script>

        {{ content }}
      </div>
    </div>

    {% include footer.html %}

  </body>

</html>
